In [1]:
from pyspark.sql import SparkSession

# Initialize a Spark session
spark = SparkSession.builder \
    .appName("Spark API") \
    .getOrCreate()

In [2]:
# Read the CSV files into a DataFrame accounts, country_abbreviation, transactions
df_accounts = spark.read.csv("accounts.csv", header=True, inferSchema=True, sep=";")
df_country_abbreviation = spark.read.csv("country_abbreviation.csv", header=True, inferSchema=True, sep=";")
df_transactions = spark.read.csv("transactions.csv", header=True, inferSchema=True, sep=";")

In [3]:
#get Switzerland code
df_country_abbreviation.filter(df_country_abbreviation.country_full_name == 'Switzerland' ).show()

+-----------------+------------+
|country_full_name|abbreviation|
+-----------------+------------+
|      Switzerland|          CH|
+-----------------+------------+

In [4]:
#get Swiss accounts with Full Name columne
from pyspark.sql.functions import concat_ws, col
df_accounts = df_accounts.filter(df_accounts.country == 'CH').withColumn('user_full_name', concat_ws(' ', col('first_name'), col('last_name'))).select("id","user_full_name")

In [5]:
#Pick possitive transactions with year amount
from pyspark.sql.functions import year
df_transactions = df_transactions.filter(df_transactions.amount>0).withColumn("year", year(col('transaction_date'))).select("id", "amount", "year")

In [6]:
#Filter transactions per account
df_transactions = df_transactions.join(df_accounts, on="id").select(df_accounts["user_full_name"], df_transactions["amount"], df_transactions["year"])

In [7]:
#The Ressult
pivoted_df = df_transactions.groupBy("user_full_name").pivot("year").sum("amount")

In [8]:
pivoted_df.show()

+----------------+--------+------------------+------------------+--------+--------+------------------+------------------+-------+------------------+------------------+------------------+
|  user_full_name|    2011|              2012|              2013|    2014|    2015|              2016|              2017|   2018|              2019|              2020|              2021|
+----------------+--------+------------------+------------------+--------+--------+------------------+------------------+-------+------------------+------------------+------------------+
|   Connie Gibson|    null|           8486.84|           3664.69| 7385.69|    null|           1717.48|           2436.81|   null|           5545.76|              null|              null|
|    Paige Taylor|    null|              null|           5618.18|    null|    null|           2784.89|           2634.62|   null|           9963.01|          14458.31|            436.22|
|  Adison Douglas|    null|          10622.48|          14322.94|    null|    null|              null|           6328.92|8248.97|              null|              null|           3406.01|
|    Arnold Kelly|    null|           8771.92|              null|12260.09| 2920.82|           1359.71|              null|6084.71|              null|              null|           9068.72|
|   Justin Cooper|20224.62|           5977.15|              null|16800.75| 6475.07|              null|              null|2582.08|           5888.01|            1988.9|              null|
| Kirsten Stevens| 1008.24|              null|            366.76| 8655.74|    null|           1080.08|              null|   null|              null|           9788.55|              null|
|     Amber Evans|    null|           3798.16|              null|    null|    null|13363.730000000001|           7020.42|6696.24|            942.82|11777.369999999999|              null|
|   Arnold Morris|    null|              null|              null|12931.32| 2026.07|              null|           2641.35|   null|           3427.39|              null|           8965.33|
|  Dale Alexander| 9022.91|           9812.92|              null| 2848.98|    null|          10517.91|              null|3863.86|              null|          20184.66|13121.400000000001|
|   Darcy Edwards|    null|              null|              null|16848.72|    null|           7922.11|10337.599999999999|   null|           3722.62|            7545.8|              null|
|Charlie Anderson|  6809.2|           5100.17|              null|12423.34| 5351.78|           6502.27|              null|   null|24717.589999999997|              null|           6316.73|
|    April Harper|  7841.0|           13925.4|           1128.23|    null|14423.01|           8253.21|              null|   null|              null|          15071.61|              null|
|     Blake Moore|    null| 7885.150000000001|              null|15699.94|    null|           2882.76|           6943.04|3428.67|              null|           7861.35|           8448.15|
|      Clark Hall|    null|           1784.62|              null|    null|    null|           2125.18|              null|   null|           6097.56|           8677.36|          12687.51|
|  Stuart Hawkins|    null|              null|           1279.27|    null|    null|           1453.43|              null|6499.72|              null|           2035.15|11150.640000000001|
|  Kelsey Spencer| 8000.61|14881.710000000001|           9079.28| 6572.99|    null|           7699.19|              null| 4867.4|              null|              null|              null|
|  Olivia Hawkins| 8112.16|           1196.61|           7345.82|  576.65|    null|             82.74|              null|   null|           1244.63|              null|           4903.52|
|      Daryl Reed| 8236.85|              null|              null|    null| 3755.61|            1529.8|              null|8891.51|              null|              null|           9841.84|
|   Michael Smith| 10089.7|           5472.81|              null| 14594.2|    null|           3695.08|              null|8645.05|           8809.05|           2365.13|           6361.37|
|    Julia Bailey| 21385.1|           8524.32|15236.189999999999| 3997.32|   60.17|          10723.63|           3713.31|   null|              null|          14140.26|13086.829999999998|
+----------------+--------+------------------+------------------+--------+--------+------------------+------------------+-------+------------------+------------------+------------------+
only showing top 20 rows